.mypage-container {
    width: 90%;
    max-width: 1000px;
    margin: 40px auto;
}

.profile-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.profile-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background: #ddd;
    flex-shrink: 0;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.profile-left h2 {
    font-size: 28px;
}

.edit-btn {
    border: 1px solid #ff6b81;
    color: #ff6b81;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.tab-menu {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.tab-menu a {
    margin-right: 30px;
    text-decoration: none;
    color: #000;
}

.tab-menu .active {
    color: red;
    font-weight: bold;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.item-card {
    width: 180px;
}

.item-image {
    width: 180px;
    height: 180px;
    background: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-card p {
    margin-top: 10px;
}

/* ヘッダー */
.header {
    background: #000;
    padding: 15px 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ロゴ */
.header img {
    height: 35px;
}

/* 検索 */
.search-box input {
    width: 300px;
    padding: 8px;
}

/* ナビ */
.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

/* ログアウトボタン */
.logout-btn {
    background: none;
    border: none;

    color: #fff;

    font-size: 14px;

    cursor: pointer;
}

.header {
    background: black;
    color: white;
}

/* 出品ボタン */
.sell-btn {
    background: #fff;
    color: #000 !important;
    padding: 5px 10px;
    border-radius: 3px;
}